html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

.center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hz-center-text {
    text-align: center;
}

.hz-center {
    display: block;
    margin: 0 auto;
}

.pr {
    position: relative;
}

#settings {
}

#score-block {
    padding: 20px;
}

#choice-block {
    padding: 10px;
    padding-top: 30px;
}

.choice {
    position: relative;
    bottom: 5px;
}

.float-right {
    float: right;
}

#round-count {
    max-width: 30px;
}

input[type='text'], select {
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 0 3px 10px lightgrey;
    text-indent: 5px;
}

input[type='text']:focus, input[type='text']:hover, select:focus, select:hover {
    outline: none;
    box-shadow: 0 2px 4px grey;
}

select {
    text-indent: 0px;
    background-color: white;
    cursor: pointer;
}



.inline {
    display: inline-block;
}

.setting-text {
    min-width: 100px;
    padding-top: 5px;
    
}

#start-btn {
    position: relative;
    left: 40px;
    top: 13px;
}

.styled-btn {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    outline: none;
}

#overlay {
    transform: rotate(-10deg);
    position: relative;
    left: 58px;
    top: 130px;
    z-index: 5;
    color: rgb(9, 56, 0)
}

#player-score, #computer-score{
    padding: 20px;
}

#computer-entry[disabled] {
    box-shadow: none;
    cursor: default;
}

.inc-score, #winner-block, #tie-event {
    visibility:hidden;
}

#gameplay {
    pointer-events:none;
    opacity: 0.3;
}
